* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}

.navcontainer {
    width: 100%;
    min-height: 60px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
}

#navList {
    width: 100%;
    padding: 15px;
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navLogo {
    font-size: 2rem;
    color: azure;
}

a {
    text-decoration: none;
    color: azure;
}

#navItems {
    display: flex;
    gap: 40px;
}

.footerBox {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    text-align: center;
    min-height: 40px;
    width: 100%;
}

footer{
    width: 100%;
}

.footerBox p {
    color: azure;
    font-size: 1.8rem;
}

.contentBox {
    width: 70%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 1px 1px 30px black;
}

.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightBox {
    position: relative;
    overflow: hidden;
    transition: all 0.6s 0s linear;
}

.rightBox img {
    height: 400px;
    border-radius: 20px;
}

.rightBox:hover {
    transform: scale(1.1);
}

.rightBox .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(25, 24, 24, 0.555);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: all 0.6s 0s linear;
}

.rightBox .overlay span {
    color: azure;
    font-size: 20px;
}

.rightBox:hover .overlay{
    opacity: 1;
}

.leftBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}